In [1]:
import pandas as pd
import numpy as np

In [7]:
df = pd.DataFrame({'A' : range(1, 11), 'B' : np.random.randn(10)})
df

    A         B
0   1 -0.993262
1   2  2.174636
2   3  0.243097
3   4  0.187817
4   5  0.316789
5   6  0.344199
6   7  0.564830
7   8  0.056885
8   9  0.019738
9  10  3.040604

In [4]:
df.assign?

In [9]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.993262  0.000000
1  2  2.174636  0.693147
2  3  0.243097  1.098612
3  4  0.187817  1.386294
4  5  0.316789  1.609438

In [12]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1 -0.993262  0.000000
1   2  2.174636  0.693147
2   3  0.243097  1.098612
3   4  0.187817  1.386294
4   5  0.316789  1.609438
5   6  0.344199  1.791759
6   7  0.564830  1.945910
7   8  0.056885  2.079442
8   9  0.019738  2.197225
9  10  3.040604  2.302585

In [14]:
df.ln_A = np.log(df.A)
df

    A         B      ln_A
0   1 -0.993262  0.000000
1   2  2.174636  0.693147
2   3  0.243097  1.098612
3   4  0.187817  1.386294
4   5  0.316789  1.609438
5   6  0.344199  1.791759
6   7  0.564830  1.945910
7   8  0.056885  2.079442
8   9  0.019738  2.197225
9  10  3.040604  2.302585

In [15]:
pd.qcut?

In [16]:
 pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

[good, good, medium, bad, bad]
Categories (3, object): [good < medium < bad]

In [17]:
# 숫자형 데이터를 카테고리화 할때 사용가능합니다.

pd.qcut(df.A, 3, labels = ["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [19]:
df.max(axis = 1)

0     1.000000
1     2.174636
2     3.000000
3     4.000000
4     5.000000
5     6.000000
6     7.000000
7     8.000000
8     9.000000
9    10.000000
dtype: float64

In [21]:
df.min(axis = 0)

A       1.000000
B      -0.993262
ln_A    0.000000
dtype: float64

In [25]:
df["A"].clip(lower = 2, upper = 10)

0     2
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

In [26]:
df["B"].clip(lower = 1, upper = 3)

0    1.000000
1    2.174636
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    3.000000
Name: B, dtype: float64

In [29]:
df

    A         B      ln_A
0   1 -0.993262  0.000000
1   2  2.174636  0.693147
2   3  0.243097  1.098612
3   4  0.187817  1.386294
4   5  0.316789  1.609438
5   6  0.344199  1.791759
6   7  0.564830  1.945910
7   8  0.056885  2.079442
8   9  0.019738  2.197225
9  10  3.040604  2.302585

In [28]:
df["B"].abs()

0    0.993262
1    2.174636
2    0.243097
3    0.187817
4    0.316789
5    0.344199
6    0.564830
7    0.056885
8    0.019738
9    3.040604
Name: B, dtype: float64