In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([])

In [4]:
df.dropna?

In [8]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [9]:
df.dropna(axis = 1, how = 'all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [10]:
df.dropna(axis = 0, how = 'any')

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [11]:
df.dropna(axis = 0, how = 'all')

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [12]:
df.fillna(0)

       name        toy                 born
0    Alfred          0                    0
1    Batman  Batmobile  1940-04-25 00:00:00
2  Catwoman   Bullwhip                    0

In [17]:
values = {'toy' : 'barbie', 'born' : "1955.5.22"}

In [18]:
df.fillna(value = values)

       name        toy                 born
0    Alfred     barbie            1955.5.22
1    Batman  Batmobile  1940-04-25 00:00:00
2  Catwoman   Bullwhip            1955.5.22

In [19]:
df['D'].mean()

KeyError: 'D'

In [ ]:
fill_na_value = df['D'].mean()
fill_na_value

In [ ]:
df.fillna(fill_na_value)

In [20]:
df.isnull()

    name    toy   born
0  False   True   True
1  False  False  False
2  False  False   True

In [21]:
df.isnull().sum()

name    0
toy     1
born    2
dtype: int64

In [22]:
df.notnull().sum()

name    3
toy     2
born    1
dtype: int64