In [1]:
import pandas as pd

In [5]:
adf = pd.DataFrame({"x1": ["A", "B", "C"], "x2": [1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [6]:
bdf = pd.DataFrame({"x1": ["A", "B", "D"], "x3": ["T", "F", "T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [7]:
pd.merge(adf, bdf, how = 'left', on = 'x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [8]:
pd.merge(adf, bdf, how = 'right', on = 'x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [9]:
pd.merge(adf, bdf, how = 'inner', on = 'x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [10]:
pd.merge(adf, bdf, how = 'outer', on = 'x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [11]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [12]:
bdf.x1

0    A
1    B
2    D
Name: x1, dtype: object

In [13]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [14]:
ydf = pd.DataFrame({"x1": ["A", "B", "C"], "x2": [1, 2, 3]})
ydf

  x1  x2
0  A   1
1  B   2
2  C   3

In [15]:
zdf = pd.DataFrame({"x1": ["B", "C", "D"], "x3": [2, 3, 4]})
zdf

  x1  x3
0  B   2
1  C   3
2  D   4

In [16]:
pd.merge(ydf, zdf)

  x1  x2  x3
0  B   2   2
1  C   3   3

In [17]:
pd.merge(ydf, zdf, how = 'outer')

  x1   x2   x3
0  A  1.0  NaN
1  B  2.0  2.0
2  C  3.0  3.0
3  D  NaN  4.0

In [19]:
pd.merge(ydf, zdf, how = 'outer', indicator = True)

  x1   x2   x3      _merge
0  A  1.0  NaN   left_only
1  B  2.0  2.0        both
2  C  3.0  3.0        both
3  D  NaN  4.0  right_only

In [22]:
pd.merge(ydf, zdf, how = 'outer', indicator = True).query('_merge == "left_only"')

  x1   x2  x3     _merge
0  A  1.0 NaN  left_only

In [23]:
pd.merge(ydf, zdf, how = 'outer', indicator = True
        ).query('_merge == "left_only"'
                                                         ).drop(columns = ['_merge'])

  x1   x2  x3
0  A  1.0 NaN